<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/main.css" rel="stylesheet" id="main-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel = "stylesheet" href="/css/portfolio-styles.css">


<div>
    <h1>Your Portfolio</h1>
    <div>
        <h1>Portfolio Total</h1>
        <h3 id = "portfolio-total"></h3>
        <h3>Overall Profit/Loss</h3>
        <h4 id = "portfolio-change"></h3>
    </div>

    <table id="stocks-view">
        <tr>
            <th>Stock</th>
            <th>Quantity</th>
            <th>Average Buy Price</th>
            <th>Current Price</th>
            <th>Gain/Loss</th>
        </tr>
        <body id="stocks-body">
        </body>
    </table>
</div>
<script src="portfolio.component.js"></script>